.breadcrumb-nav {
    .breadcrumb {
        background: transparent;
        padding-left: 0;
        font-size: 13px;
        padding-bottom: 0;
        margin-bottom: 15px;
        padding-top: 0;
        padding-right: 0;
    }

    .breadcrumb_last {
        display: none;
    }
}