$text: #383838;
$light: #fff;
$color_main : #FF898B;
$color_main_2:#614379;
$background_linear: linear-gradient(0deg, rgba(255,200,209,1) 0%, rgba(255,246,247,1) 100%);
$background_linear_2: linear-gradient(0deg, rgba(97,67,121,1) 0%, rgba(97,67,121,1) 37%, rgba(121,67,164,1) 47%, rgba(216,161,221,1) 81%, rgba(255,186,187,1) 94%, rgba(255,186,187,1) 100%);
$color_boxshadown : #FFAEAF;