.footer{
    padding: 35px 0;
    background: linear-gradient(180deg, rgba(246,238,255,1) 0%, rgba(251,246,255,1) 100%);
    &-title{
        font-size: 15px;
        font-weight: 700;
        margin-bottom: 12px;
    }
    .footer-content{
        border-bottom: 1px solid rgba($color: $color_main_2, $alpha: 0.12);
        padding-bottom: 23px;
        margin-bottom: 24px;
    }
    .list-footer{
        padding: 15px;
        padding-top: 0;
        margin-bottom: 0;
        .item{
            padding-bottom: 10px;
            &:last-child{
                padding-bottom: 0;
            }
        }
    }
    .list-footer-icon{
        padding: 0;
        list-style: none;
        .item{
            padding-bottom: 10px;
            &:last-child{
                padding-bottom: 0;
            }
        }
    }
    .fa{
        color: $color_main_2;
        font-size: 18px;
        margin-right: 9px;
    }
    &-logo{
        margin-bottom: 14px;
    }
    &-heading{
        font-size: 12px;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 8px;
    }
    &-excerpt{
        font-size: 10px;
        color: #3A3A3A;
    }
    &-list-infor{
        list-style: none;
        padding-left: 0;
        padding: 0;
        .item{
            display: flex;
            font-size: 14px;
            padding-bottom: 10px;
            &:last-child{
                padding-bottom: 0;
            }
        }
        .fa{
            font-size: 15px;
        }
    }
    &-phone-icon{
        margin-right: 5px;
    }
    .number-phone{
        color: $color_main_2;
        font-weight: 700;
        font-size: 18px;
        display: inline-block;
        border: 2px solid $color_main_2;
        padding: 13px;
        border-radius: 10px;
        position: relative;
        margin-bottom: 13px;
        &::before{
            content: 'Hotline';
            font-size: 14px;
            position: absolute;
            top: -11px;
            color: #3A3A3A;
            left: 35px;
            font-weight: 700;
            padding: 0 5px;
            background: linear-gradient(180deg, rgba(246,238,255,1) 0%, rgba(251,246,255,1) 100%);
        }
    }
    .footer-phone{
        border: 2px solid $color_main_2;
        padding: 8px 12px;
        border-radius: 10px;
    }
    .copyright-title{
        margin-bottom: 2px;
        font-size: 14px;
    }
    .copyright-excerpt{
        margin-bottom: 0;
        font-size: 11px;
    }
    @media (max-width:991px) and (min-width : 768px) {
        .number-phone{
            font-size: 13px;
        }
    }
    @media (max-width: 525px){
        .number-phone{
            font-size: 15px;
        }
    }
     @media (max-width: 360px){
        .number-phone{
            font-size: 13px;
        }
    }
}